<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('账密簿列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>归属：</label>
                                <select name="userId" th:with="userList=${@AcMaDict.getUserList()}">
                                    <option value="">所有</option>
                                    <option th:each="user : ${userList}" th:text="${user.getUserName()}" th:value="${user.getUserId()}"></option>
                                </select>
                            </li>
                            <li>
                                <label>站点：</label>
                                <select name="stationId" th:with="stationList=${@AcMaDict.getStationList()}">
                                    <option value="">所有</option>
                                    <option th:each="station : ${stationList}" th:text="${station.getStationName()}" th:value="${station.getStationId()}"></option>
                                </select>
                            </li>
                            <li>
                                <label>账户名：</label>
                                <input type="text" name="accountId"/>
                            </li>
                            <li>
                                <label>账户昵称：</label>
                                <input type="text" name="nickName"/>
                            </li>
                            <li>
                                <label>状态：</label>
                                <select name="status" th:with="type=${@dict.getType('user_account_manage_account_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>创建时间：</label>
                                <input type="text" class="time-input" placeholder="请选择创建时间" name="gmtCreate"/>
                            </li>
                            <li>
                                <label>修改时间：</label>
                                <input type="text" class="time-input" placeholder="请选择修改时间" name="gmtModified"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="usertool:account:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="usertool:account:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="usertool:account:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="usertool:account:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('usertool:account:edit')}]];
        var removeFlag = [[${@permission.hasPermi('usertool:account:remove')}]];
        var userIdDatas = [[${@AcMaDict.getUserList()}]];
        var stationIdDatas = [[${@AcMaDict.getStationList()}]];
        var statusDatas = [[${@dict.getType('user_account_manage_account_status')}]];
        var prefix = ctx + "usertool/account";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "账密簿",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'id',
                    visible: false
                },
                {
                    field: 'userId',
                    title: '归属',
                    formatter: function(value, row, index) {
                       return $.table.selectUserLabel(userIdDatas, value);
                    }
                },
                {
                    field: 'stationId',
                    title: '站点',
                    formatter: function(value, row, index) {
                       return $.table.selectStationLabel(stationIdDatas, value);
                    }
                },
                {
                    field: 'accountId',
                    title: '账户名'
                },
                {
                    field: 'nickName',
                    title: '账户昵称'
                },
                {
                    field: 'description',
                    title: '备注'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(statusDatas, value);
                    }
                },
                {
                    field: 'gmtCreate',
                    title: '创建时间'
                },
                {
                    field: 'gmtModified',
                    title: '修改时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>